<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3 col-xs-12">
      <h1>Stay in touch</h1>
    </div>
    <div class="col-sm-6 col-md-9 col-xs-12">
      <h2><label for="">Sign-up to get the latest news.</label></h2>
      <form action="#" method="GET" class="">
        <div class="">
          <input type="email" autocapitalize="off" autocorrect="off" name="" id="" value="" placeholder="Enter your email address" class="">
        </div>
        <button class="" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>