<section id="hero-slider">
{{{ slider }}}
</section>
<section id="featured-list">
{{{ featured }}}
</section>
<section id="info-slider">
{{{ infoSlider }}}
</section>
<section id="contact">
{{{ contact }}}
</section>
