<div class="container">
  <div class="row">
    <div class="col-sm-2 col-xs-4">
      <h2><address>
        Mailing Address
      </address></h2>
    </div>
    <div class="col-sm-2 col-xs-4">
      <ul>
        <li>Visit</li>
      </ul>
    </div>
    <div class="col-sm-2 col-xs-4">
      <ul>
        <li>Exhibitions</li>
      </ul>
    </div>
    <div class="col-sm-2 col-xs-4">
      <ul>
        <li>Calendar</li>
      </ul>
    </div>
    <div class="col-sm-2 col-xs-4">
      <ul>
        <li>Learn</li>
      </ul>
    </div>
    <div class="col-sm-2 col-xs-4">
      <ul>
        <li>Initiatives</li>
      </ul>
    </div>
  </div>
</div>