<div class="container sitemap-wrapper">
  <div class="col-sm-4 col-xs-12 col-md-2">
    <h2><address>
      Mailing Address
    </address></h2>
  </div>
  <div class="col-sm-4 col-xs-12 col-md-2">
    <ul>
      <li>Visit</li>
    </ul>
  </div>
  <div class="col-sm-4 col-xs-12 col-md-2">
    <ul>
      <li>Exhibitions</li>
    </ul>
  </div>
  <div class="col-sm-4 col-xs-12 col-md-2">
    <ul>
      <li>Calendar</li>
    </ul>
  </div>
  <div class="col-sm-4 col-xs-12 col-md-2">
    <ul>
      <li>Learn</li>
    </ul>
  </div>
  <div class="col-sm-4 col-xs-12 col-md-2">
    <ul>
      <li>Initiatives</li>
    </ul>
  </div>
</div>
