    <nav class="top-navbar-wrapper">
      <div id="navbar" class="top-navbar-container">
        <ul class="top-nav top-navbar-right">
          <li><a href="#join">Join</a></li>
          <li><a href="#store">Store</a></li>
          <li><a href="#members">Members</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#press">Press</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>
